<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>



    <body>

        
          
        <h1>Search Result Page</h1>
        <%  if(names.length === 0 )  {%>
            <h3>not found any result</h3>
            <%} else {%>
        <table>
            <tr>
                <th scope="col" >movies</th>
                <th scope="col"  >movies at same genre</th>
            </tr>
 
            <%  names.map(v =>  {%>
                <tr> 
              <%  if(v.same.length === 0) { %>
                <td >
                    <a href="/movie/movieDataPage/id=<%= v.name %>"> <%=v.name %>  </a>
                </td >
                <%} else {%>
                    <th rowspan= <%= v.same.length +1 %>           >
                        <a href="/movie/movieDataPage/id=<%= v.name %>"> <%=v.name %> </a>
                    </th>
                    <% }%>
                    <%  if(v.same.length > 0) {%>
                    <td  >  <%=v.same.length %> relevant movies </a></td>        
                </tr>                         
            <%  v.same.map(v =>   {%>
               
                <tr>  
                    <td  >  <a href="/movie/movieDataPage/id=<%= v %>">  <%=v %> </a></td>
                </tr>
                    <%  } ) %>  
                    <% }else {%>
                        <td> no relevant movies  </a></td>        
                        <%  }  %>  
                <%  } ) %>  
              
        </table>
        <%  }  %>  
        <a href="http://localhost:3000/getMenuPage"><button>Back to menu</button></a>
    </body>

</html>