<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <body>
       
       
        <h1>Search Result Page</h1>
        <table>
            <tr>
                <th>movies</th>
                <th>movies at same genre</th>
            </tr>
 
            <%  names.map(v =>  {%>
            <tr>
              <%  if(v.same.length === 0) { %>
                <th >
                    <a href="/getMenuData/movieDataPage/id=<%= v.name %>"> <%=v.name %> </a>
                </th>
                <%} else {%>
                    <th rowspan =0>
                        <a href="/getMenuData/movieDataPage/id=<%= v.name %>"> <%=v.name %> </a>
                    </th>
                    <% }%>
            </tr>
            
            <%  v.same.map(v =>  { if(v.length > 0) {%>
                <tr>
              
                    <td >  <a href="/getMenuData/movieDataPage/id=<%= v %>"> <%=v %> </a></td>
                <%  }} ) %>  
                <%  } ) %>  
            </tr>
        </th>
        </table>
    
    </body>

</html>